/********************************************/
/**************GLOBAL SELECTORS**************/
/********************************************/

span{
    font-size: 0.6em;
}
body{
    font-family: sans-serif;
}
section > h1:first-child{
    display: none;
}

/********************************************/
/**************PAGE SELECTORS**************/
/********************************************/

body header section h1{
    display: inline-block;
    font-size: 3em;
    line-height: 40%;
    font-weight: bold;
    vertical-align: middle;
}
body header section img{
    display: inline-block;
    vertical-align: middle;
}

/*******************************/
/*LIGHT GRAY EXTERNAL CONTAINER*/
/*******************************/

body main section div.external-container{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f6f8f9;
}
body main section div.external-container div{
    background-color: white;
    border-radius: 10px;
}
body main section div.external-container div div.buttons-container{
    border-bottom: solid #f6f8f9 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}

/***************/
/* TOP BUTTONS */
/***************/

body main section div.external-container div div.buttons-container button{
    background-color: #47adf1;
    color: white;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 1%;
    font-size: 1.2em;
    font-weight: bold;
    border-color: #47adf1;
    border-style: solid;
}
body main section div.external-container div div.buttons-container button:last-child{
    background-color: white;
    color: lightgrey;
    border: solid lightgrey;
}

/****************************/
/* WHITE INTERNAL CONTAINER */
/****************************/

body main section div.external-container div div.task-container{
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 5%;
    color:#444851;
    font-weight: 550;
}
body main section div.external-container div div.task-container h1{
    font-weight: bolder;
    font-size: 2em;
    margin-top: 4%;
    line-height: 10%; 
    color: #444851;   
}

/***************************/
/* DEFAULT SPAN DEFINITION */
/***************************/

body main section div.external-container div div.task-container ul li span{
    background-color: #47adf1;
    padding: 1%;
    margin-left: 1%;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
}

/****************************/
/* DIFFERENT COLOR LIST TAG */
/****************************/

body main section div.external-container div div.task-container span.purple{
    background-color: #9c72e4;
}
body main section div.external-container div div.task-container span.green{
    background-color: #64c0a9;
}
body main section div.external-container div div.task-container span.orange{
    background-color: #f29e33;
}
body main section div.external-container div div.task-container span.light-green{
    background-color: #b0c926;
}
body main section div.external-container div div.task-container span.pink{
    background-color: #d863a1;
}

/************/  
/* LIST ITEM*/
/************/

body main section div.external-container div div.task-container ul{
    list-style-type: none;
} 
body main section div.external-container div div.task-container ul li img{
    width: 4%;
    display: inline-block;
    vertical-align: middle;
}